services:
  db:
    image: postgres:15
    container_name: shift-scheduler-db
    shm_size: 512mb
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: dockerfile.local
    container_name: shift-scheduler-app
    command: sh -c "npm install && npm run dev:docker"
    volumes:
      - .:/app
      - app_node_modules:/app/node_modules
    depends_on:
      db:
        condition: service_healthy
    environment:
      PORT: 4000
      PGHOST: db
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: password
      PGDATABASE: postgres
    ports:
      - "4000:4000"

volumes:
  app_node_modules: